<nav class="navbar navbar-default white-navbar" role="navigation">
    <div class="container">
        <!-- Бренд та перемикач згруповані для кращого відображення на мобільних пристроях -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#white_navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="Content/img/Logo.png" />
            </a>
        </div>

        <!-- Зібрано навігаційні лінки, форми, та інший вміст для переключення -->
        <div class="collapse navbar-collapse" id="white_navbar">
            <ul class="nav navbar-nav navbar-text white-navbar-menu">
                <li><a href="/" class="underline">HOME</a></li>
                <li><a href="/about" class="underline">ABOUT US</a></li>
                <li><a href="http://blog.startupsoft.org/" target="_blank" class="underline">BLOG</a></li>
                <li><a href="https://startupers.us/" target="_blank" class="underline">STARTUPERS.US</a></li>
                <li><a href="/faq" class="underline">FAQ</a></li>
                <li><a href="/contact" class="underline">CONTACT US</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section class="faq">
    <div class="container">
        <div class="row">
            <h1 class="center-tittle">FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class="row">
            <div class="faq-content">
                <div class="faq-item">
                    <span class="faq-tittle">
                      1. Do you charge an hourly rate?
                    </span>
                    <br />
                    <span class="text-text">
                      We charge the bare minimum to simply pay our bills. At only $8 per hour, you will receive a package of software design and development work, as well as marketing and business consulting.
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        2. How much equity do you take?
                    </span>
                    <br />
                    <span class="text-text">
                        We typically accept between 5-25%.
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        3. Who is on your team?
                    </span>
                    <br />
                    <span class="text-text">
                        Our team consists of several dozen members and includes developers, graphic designers, testers, marketers and advisors.
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        4. Where are you based?
                    </span>
                    <br />
                    <span class="text-text">
                        StartupSoft Inc. is a Canadian corporation with a presence in Toronto and Europe.
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        5. How can I know if my application has been accepted?
                    </span>
                    <br />
                    <span class="text-text">
                        Once your application has been reviewed, we will notify you of our decision. We accept 5% of applicants on average and it may take several business days for us to review your application.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>