<section class="find-out-block">
    <span class="find-out-title-text wow fadeInDown" data-wow-offset="1">Are you ready to turn your idea into a successful business?</span>
    <form action="/callback">
        <button type="submit" class="general-button find-out-button wow fadeInUp" data-wow-offset="1">APPLY</button>
    </form>
</section>
<footer>
    <div class="container">
        <div class="footer-column">
            <a href="https://www.facebook.com/startupsoft.org/" target="_blank" class="footer-social-icons social-icons-links icon-facebook-letter-logo margin-right"></a>
            <!--<a href="#" target="_blank" class="footer-social-icons social-icons-links icon-twitter-logo-silhouette margin-right"></a>-->
            <a href="https://www.linkedin.com/company/startupsoft-inc.?trk=top_nav_home" target="_blank" class="footer-social-icons social-icons-links icon-linkedin-logo"></a>
        </div>
        <div class="footer-column align-center"><span class="footer-text-information">© 2016   Startup Soft</span></div>
        <div class="footer-column align-right"><span class="footer-text-information"><span class="margin-right icon-facebook-placeholder-for-locate-places-on-maps"></span>1 Yule Ave. Toronto, Ontario </span></div>
    </div>
</footer>