<header>
    <div class="container">
        <nav class="main-navbar-block">
            <div class="navbar-logo-block"><img class="navbar-logo" src="/Content/img/Logo.png" alt=""></div>
            <div class="navbar-menu">
                <ul>
                    <li><span ui-sref="home" class="underline">HOME</span></li>
                    <li><span ui-sref="about" class="underline">ABOUT US</span></li>
                    <li><span href="http://blog.startupsoft.org/" target="_blank" class="underline">BLOG</span></li>
                    <li><span href="https://startupers.us/" target="_blank" class="underline">STARTUPERS.US</span></li>
                    <li><span href="/faq" class="underline">FAQ</span></li>
                    <li><span href="/contact" class="underline">CONTACT US</span></li>
                </ul>
            </div>
        </nav>
        <div class="head-title">
            <h1 class="head-title-big-text">REVOLUTIONIZING STARTUPS</h1>
            <h2 class="head-title-small-text">by developing software in exchange for <span>equity</span></h2>
            <form action="/callback">
                <button class="general-button head-main-button">APPLY</button>
            </form>
            <p class="head-title-down-button-text">we choose 1 out of 20 applicants</p>
        </div>
    </div>
    <div class="dark-bcg"></div>
    <div class="bcg-video"></div>
</header>