/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSansRegular";
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSansBold";
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansItalic"; */
@font-face {
  font-family: "MuseoSansItalic";
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot");
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSansLight";
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSansMedium";
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSansBlack";
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBoldItalic"; */
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"), url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMediumItalic"; */
@font-face {
  font-family: "MuseoSansMediumItalic";
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLightItalic"; */
@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlackItalic"; */
@font-face {
  font-family: "MuseoSansBlackItalic";
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.Museo-Sans-Light {
  font-family: 'MuseoSansLight'; }

.Museo-Sans-Regular {
  font-family: 'MuseoSansRegular'; }

.Museo-Sans-Medium {
  font-family: 'MuseoSansMedium'; }

.Museo-Sans-Bold {
  font-family: 'MuseoSansBold'; }

.Museo-Sans-Black {
  font-family: 'MuseoSansBlack'; }

header, section, footer {
  position: relative; }

.container, .height-for-all-block {
  height: 100%; }

.margin-right {
  margin-right: 10px; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.left-padding {
  padding-left: 80px; }

.right-padding {
  padding-right: 80px; }

.display-none {
  display: none; }

/*----------------general-button-style-----------------*/
.general-button {
  background-color: #4094ed;
  color: #fff;
  width: 360px;
  height: 70px;
  border-radius: 35px;
  font-size: 16px;
  border: none;
  display: block;
  outline: none;
  overflow: hidden;
  position: relative;
  font-family: MuseoSansBold; }
  .general-button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 40px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s; }

.dark-hover-shadow:hover {
  opacity: 0.7;
  box-shadow: none; }

.active {
  background-color: #74a1d2 !important;
  transition: 0.8s; }

.bottom-clear-wall {
  clear: both; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.step-number-margin-left {
  margin-left: 20px; }

.step-number-margin-right {
  margin-right: 20px; }

/*---------------blue-indicator---------------------*/
.step-blue-indicator {
  position: absolute;
  left: 50%;
  height: 23px;
  width: 23px;
  border: 2px solid #74a1d2;
  border-radius: 50%;
  margin-left: -10px;
  background-color: #ffffff;
  top: 50%; }

/*------------hover-efect--------------------------------*/
.underline {
  position: relative;
  cursor: pointer; }
  .underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #4094ed;
    content: "";
    transition: width 0.2s; }
  .underline:hover {
    color: #4094ed; }
    .underline:hover:after {
      width: 100%; }

