@model StartupSoft.Models.EmailModel

<section class="forms">
    <div class="container">
        <div class="row">
            <div class="center-container">
                <a class="navigation-link" href="/callback"><span class="icon-last-track-left-arrow"></span> PREVIOUS QUESTION</a>

                <div class="form-container">
                    <h1 class="center-tittle">Tell us briefly about your project</h1>
                    <form action="/email/send">
                        <input type="hidden" name="Fullname" value="@Model.Fullname" />
                        <input type="hidden" name="Email" value="@Model.Email" />
                        <input type="hidden" name="FromApply" value="true" />
                        <input type="text" name="ProjectName" placeholder="Project name" autofocus required />
                        <br />
                        <textarea name="Description" placeholder="Description" required></textarea>
                        <div class="form-button">
                            <button class="btn blue-button" type="submit">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
          <span class="page-number">2/2</span>
        </div>
    </div>
</section>