/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSansRegular";
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSansBold";
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansItalic"; */
@font-face {
  font-family: "MuseoSansItalic";
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot");
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSansLight";
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSansMedium";
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSansBlack";
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBoldItalic"; */
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"), url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMediumItalic"; */
@font-face {
  font-family: "MuseoSansMediumItalic";
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLightItalic"; */
@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlackItalic"; */
@font-face {
  font-family: "MuseoSansBlackItalic";
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.Museo-Sans-Light {
  font-family: 'MuseoSansLight'; }

.Museo-Sans-Regular {
  font-family: 'MuseoSansRegular'; }

.Museo-Sans-Medium {
  font-family: 'MuseoSansMedium'; }

.Museo-Sans-Bold {
  font-family: 'MuseoSansBold'; }

.Museo-Sans-Black {
  font-family: 'MuseoSansBlack'; }

.about-us-header {
  background: url("/Content/img/about.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.3) inset;
  color: white;
  text-align: center;
  padding: 12vh 25% 15vh; }
  .about-us-header span {
    font-size: 18px; }

.white-navbar {
  margin-bottom: 0; }

.about-us-content {
  text-align: center;
  margin: 10vh 20%;
  position: relative; }

.content-header {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  position: relative; }

.content-header:after {
  content: '';
  bottom: 0;
  left: 0;
  top: 38px;
  width: 8%;
  display: table;
  margin: 15px auto 0;
  border: 1px solid #4094ED; }

.content-text {
  color: #777;
  font-size: 16px;
  margin-top: 5px;
  display: block; }

.content-text:after {
  content: '';
  bottom: 0;
  left: 0;
  top: 38px;
  width: 50%;
  display: table;
  margin: 50px auto 0;
  border: 1px solid #E9E9E9; }

.content-text:last-child:after {
  display: none; }

