/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSansRegular";
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("/Content/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSansBold";
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("/Content/fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("/Content/fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansItalic"; */
@font-face {
  font-family: "MuseoSansItalic";
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot");
  src: url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"), url("/Content/fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSansLight";
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("/Content/fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("/Content/fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSansMedium";
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("/Content/fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSansBlack";
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("/Content/fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBoldItalic"; */
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
  src: url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"), url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansMediumItalic"; */
@font-face {
  font-family: "MuseoSansMediumItalic";
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
  src: url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"), url("/Content/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansLightItalic"; */
@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
  src: url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"), url("/Content/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MuseoSansBlackItalic"; */
@font-face {
  font-family: "MuseoSansBlackItalic";
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
  src: url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"), url("/Content/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.Museo-Sans-Light {
  font-family: 'MuseoSansLight'; }

.Museo-Sans-Regular {
  font-family: 'MuseoSansRegular'; }

.Museo-Sans-Medium {
  font-family: 'MuseoSansMedium'; }

.Museo-Sans-Bold {
  font-family: 'MuseoSansBold'; }

.Museo-Sans-Black {
  font-family: 'MuseoSansBlack'; }

.our-network-header {
  background-image: url("/Content/img/our-net-bcg.png"); }

.network-content-block {
  width: 100%;
  min-height: 450px; }
  .network-content-block .network-content-collumn {
    width: 25%;
    padding: 100px 30px 50px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top; }
    .network-content-block .network-content-collumn .network-colulumn-info {
      width: 100%;
      min-height: 300px;
      background-color: #f7f7f7;
      position: relative;
      padding-top: 85px; }
      .network-content-block .network-content-collumn .network-colulumn-info .network-colulumn-info-out-img {
        position: absolute;
        width: 100%;
        height: 175px;
        background-image: url("/Content//img/polygon-img.png");
        background-repeat: no-repeat;
        background-position: center;
        top: -100px;
        left: 50%;
        margin-left: -50%; }
        .network-content-block .network-content-collumn .network-colulumn-info .network-colulumn-info-out-img img {
          display: block;
          margin: 50px auto; }
        .network-content-block .network-content-collumn .network-colulumn-info .network-colulumn-info-out-img .collumn-4-img-margin-top {
          margin-top: 60px; }
      .network-content-block .network-content-collumn .network-colulumn-info .network-collumn-head-text {
        font-family: MuseoSansBold;
        color: #000;
        display: block;
        text-align: center;
        margin: 15px 0;
        font-size: 18px; }
      .network-content-block .network-content-collumn .network-colulumn-info ul {
        padding-right: 10px; }
        .network-content-block .network-content-collumn .network-colulumn-info ul li {
          font-size: 14px;
          color: #4094ed; }
          .network-content-block .network-content-collumn .network-colulumn-info ul li span {
            color: #999898; }

.network-button-block {
  width: 100%;
  min-height: 220px; }
  .network-button-block .network-button-block-collumn {
    width: 33%;
    min-height: 70px;
    text-align: center;
    display: inline-block;
    margin-right: -4px;
    font-size: 18px; }
    .network-button-block .network-button-block-collumn .icon-style {
      color: #4094ed;
      font-size: 42px;
      display: block;
      margin-bottom: 25px; }
  .network-button-block .find-out-button {
    margin: 50px auto; }

.content-header-after-second-width:after {
  width: 25%; }

