<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="about-us-content">
                <div class="content-header">
                    <b>Who we are</b>
                </div>
                <br />
                <span class="content-text">
                    StartupSoft Inc. is a Canadian corporation with headquarters in Toronto and offices in Europe. Our mission is to reduce the chance of failure of startups by changing the way they are built. We partner with startups and bring their service or product to life in exchange for equity.
                    <br /> <br />
                    Our business model depends on one thing – the success of our partners. It is within our best interest that your startup succeeds and we do everything in our power to achieve it. We are very selective with whom we work with; to find out if there is a fit, Apply Here.  

                </span>
            </div>
        </div>
    </div>
</section>