@import "var.scss";
@import "font.scss";


.about-us-header {
    background: url('/Content/img/about.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.3) inset;
    color: white;
    text-align: center;
    padding: 12vh 25% 15vh;

    span {
        font-size: 18px;
    }
}

.white-navbar {
    margin-bottom: 0;
}

.about-us-content {
    text-align: center;
    margin: 10vh 20%;
    position: relative;
}

.content-header {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    position: relative;
}

.content-header:after {
    content: '';
    bottom: 0;
    left: 0;
    top: 38px;
    width: 8%;
    display: table;
    margin: 15px auto 0;
    border: 1px solid #4094ED;
}

.content-text {
    color: #777;
    font-size: 16px;
    margin-top: 5px;
    display: block;
    line-height: 1.7em;
}

.content-text:after {
    content: '';
    bottom: 0;
    left: 0;
    top: 38px;
    width: 0;
    display: table;
    margin: 50px auto 15px;
    border: 1px solid #E9E9E9;
}

.content-text:last-child:after{
  display:none;
}
.about-our-team-collum{
  width: 33%;
  min-height: 170px;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  text-align: center;
  margin-top: 5px;
  .about-team-icon{
    display: block;
    height: 105px;
    width: 105px;
    border: 5px solid #e9e9e9;
    border-radius: 50%;
    vertical-align: top;
    background-size: cover;
    position: relative;
    margin: 0 auto 10px;
     .linkedin-image-link{
      display: block;
      height: 26px;
      width: 26px;
      position: absolute;
      bottom: 0;
      right: 0;
     }
    }
    .about-our-team-head-text{
      font-size: 18px;
      color: #000;
      font-family: MuseoSansBold;
      display: block;
    }
    .about-our-team-second-text{
      display: block;
      font-size: 15px;
      margin-top: 5px;
    }
  .chief-executive{
    background-image: url('/Content/img/marketing.png');
  }
  .revett-icon{
    background-image: url('/Content/img/advising.png');
  }
  .andrew-icon{
    background-image: url('/Content/img/Andrew.png')
  }
  }
