@import "var.scss";
@import "font.scss";

@media only screen and (max-width: 1200px) {
  .medium-device-style {
    display: block !important;
  }
  .medium-device-display-none {
    display: none !important;
  }
  .step-second-block .step-information-block .text-with-icon {
    width: 65%;
  }
  .step-second-block {
    .step-information-block {
      .design-image-block{
        min-height:267px; 
      }
    }
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .steps-block:before {
    left: 45px;
  }
  .step-blue-indicator {
    left: 20px;
    margin: 0;
  }
  .step-second-block {
    padding: 0 80px 0 80px;
    .step-information-block {
      width: 100%;
      margin-bottom: 25px;
      .design-image-block{
        width: 50%;
        margin: 0 auto;
      }
    }

  }
  .left-padding, .right-padding {
    padding: 0;
  }
  .align-right{
    text-align: left;
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 55%;
    margin: 0 auto;
    min-height: 360px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 776px) {
  .step-second-block .step-information-block .mvp-image-block {
    width: 80%;
    margin: 0 10%;
  }
}


@media only screen and (max-width: 868px) {

.step-second-block {
    .step-information-block {
      .design-image-block{
        width: 60%;
      }
    }
  }
  .white-navbar-button-margin{
    display: none;
  }
  .mobile-button-aplly{
    display: block !important;
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 65%;
    min-height: 390px;
  }
}

@media only screen and (max-width: 788px) {
  .footer-column {
    width: 100% !important;
    text-align: center;
    padding: 20px 0 !important;
    max-height: 60px;
    min-height: 0 !important;
  }
  .main-navbar-block {
    display: none;
  }
  .white-navbar-display-main-page{
    display: block;
  }
  .white-navbar-dispaly-none-second-page{
  display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  header .white-navbar-dispaly {
    display: block;
  }
  .step-second-block {
    .step-information-block {
      .design-image-block{
        min-height: 237px;
      }
    }
  }
  .content-header:after {
    width: 15%;
  }
    .step-second-block .step-information-block .bussines-image-block{
    min-height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-header{
    float: none;
  }
  .navbar-toggle{
    display: block;
  }
  .navbar-collapse.collapse {
      display: none !important;
    }
    .step-second-block .step-information-block .bussines-image-block{
    width: 75%;
    min-height: 390px;
  }
}

@media only screen and (max-width: 725px) {
.step-second-block {
    .step-information-block {
      .design-image-block{
        min-height: 220px;
      }
    }
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 80%;
  }
}
@media only screen and (max-width: 635px) {
.step-second-block {
    .step-information-block {
      .design-image-block{
        min-height: 190px;
      }
    }
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 100%;
  }

}


@media only screen and (max-width: 579px) {
  .mvp-image-block {
    display: none;
  }
  .step-second-block {
    .step-information-block {
      .design-image-block{
        width: 70%;
        min-height: 173px;
      }
    }
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 85%;
    margin: 0 auto;
    min-height: 280px;
  }
}

@media only screen and (max-width: 500px) {
  header .head-title {
    padding-top: 50%;
    .head-title-big-text {
      font-size: 25px;
    }
    .head-title-small-text {
      font-size: 14px;
    }
  }
  .general-button {
    width: 260px;
    height: 50px;
    line-height: 3em;
  }
  .step-second-block {
    padding-right: 0;
  }
}

@media only screen and (max-width: 498px) {
  .services-image-block {
    vertical-align: top;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .services-text-block {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .step-second-block .step-information-block .bussines-image-block{
    width: 85%;
    margin: 0 auto;
    min-height: 300px;
  }
}

@media only screen and (max-width: 444px) {
.step-second-block {
    .step-information-block {
      .design-image-block{
        width: 90%;
      }
    }
  }
  .content-header:after {
    width: 25%;
  }
  .step-second-block .step-information-block .bussines-image-block{
    /*width: 70%;
    margin: 0 auto;
    min-height: 230px;*/
    display: none;
  }
}
@media only screen and (max-width: 368px) {
.step-second-block {
    .step-information-block {
      .design-image-block{
        width: 100%;
      }
    }
  }

}