<nav class="navbar navbar-default white-navbar" role="navigation">
    <div class="container-fluid">
        <!-- Бренд та перемикач згруповані для кращого відображення на мобільних пристроях -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#white_navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="/Content/img/Logo.png" />
            </a>
        </div>

        <!-- Зібрано навігаційні лінки, форми, та інший вміст для переключення -->
        <div class="collapse navbar-collapse" id="white_navbar">
            <ul class="nav navbar-nav navbar-text white-navbar-menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/home/testimonials">TESTIMONIALS</a></li>
                <li><a href="/home/about">FAQ</a></li>
                <li><a href="/home/contact">CONTACT US</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section class="faq">
    <div class="container">
        <div class="row">
            <h1 class="center-tittle">FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class="row">
            <div class="faq-content">
                <div class="faq-item">
                    <span class="faq-tittle">
                        What happenes at Y Combinator?
                    </span>
                    <br />
                    <span class="text-text">
                        Text text  text text text texttext text text text text text text text
                        text text text text text text text text text text text text text text
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        You sound too good to be true. How can you do it this cheap?
                    </span>
                    <br />
                    <span class="text-text">
                        What happenes at Y Combinator?
                        Text text  text text text texttext text text text text text text text
                        text text text text text text text text text text text text text text
                        Text text  text text text texttext text text text text text text text
                        text text text text text text text text text text text text text text
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        How fast can you build my project?
                    </span>
                    <br />
                    <span class="text-text">
                        What happenes at Y Combinator?
                        Text text  text text text texttext text text text text text text text
                        text text text text text text text text text text text text text text
                        Text text  text text text texttext text text text text text text text
                    </span>
                </div>
                <div class="faq-item">
                    <span class="faq-tittle">
                        What happenes at Y Combinator?
                    </span>
                    <br />
                    <span class="text-text">
                        Text text  text text text texttext text text text text text text text
                        text text text text text text text text text text text text text text
                        Text text  text text text texttext text text text text text text text
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="find-out-block">
    <span class="find-out-title-text">Let’s find out if Startup Soft is Right For You</span>
    <form action="/callback">
        <button class="general-button find-out-button">APPLY</button>
    </form>
</section>
<footer>
    <div class="container">
        <div class="footer-column">
            <span class="footer-social-icons icon-facebook-letter-logo margin-right"></span>
            <span class="footer-social-icons icon-twitter-logo-silhouette margin-right"></span>
            <span class="footer-social-icons icon-linkedin-logo"></span>
        </div>
        <div class="footer-column align-center"><span class="footer-text-information">© 2016   Startup Soft . Blog</span></div>
        <div class="footer-column align-right"><span class="footer-text-information"><span class="footer-social-icons margin-right icon-facebook-placeholder-for-locate-places-on-maps"></span>1 Yule Ave. Toronto, Ontario </span></div>
    </div>
</footer>