<section class="steps-block">
    <div class="container">
        <div class="step-second-block">
            <div class="step-information-block float-r left-padding">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text">
                    <span class="number-step medium-device-style step-number-margin-right wow fadeInDown" data-wow-offset="380">01</span>
                    <span class="head-main-step-text wow slideInRight" data-wow-offset="350">
                        Apply
                    </span>
                </div>
                <p class="step-information-text step-text-pading-right wow zoomIn" data-wow-offset="250">Describe yourself, your team and your startup. Applications take 2 minutes on average.</p>
                <button class="general-button step-button-style dark-hover-shadow wow zoomIn" ui-sref="callback" data-wow-offset="200">APPLY</button>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-l right-padding align-right">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text">
                    <span class="number-step display-none medium-device-style wow fadeInDown" data-wow-offset="460">02</span>
                    <span class="head-main-step-text wow slideInLeft" data-wow-offset="380">
                        Business model analysis
                    </span>
                    <span class="number-step medium-device-display-none step-number-margin-left wow fadeInDown" data-wow-offset="460">02</span>
                </div>
                <a href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="step-team-icon marketing-icon step-team-icon-mobile-display wow zoomIn" data-wow-offset="230">
                    <span href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span>
                </a>
                <p class="step-information-text text-with-icon step-text-pading-left wow zoomIn" data-wow-offset="230">A seasoned entrepreneur will examine your business model during a Skype call.</p>
                <a href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="step-team-icon step-team-icom-margin-left marketing-icon step-team-icon-mobile-display-none wow zoomIn" data-wow-offset="230">
                    <span href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span>
                </a>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-r left-padding">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text">
                    <span class="number-step medium-device-style step-number-margin-right wow fadeInDown" data-wow-offset="380">03</span>
                    <span class="head-main-step-text wow slideInRight" data-wow-offset="310">Advisor meeting</span>
                    <span class="number-step display-none wow fadeInDown" data-wow-offset="380">03</span>
                </div>
                <a href="https://www.linkedin.com/in/revett-eldred-32b9102b" target="_blank" class="step-team-icon advanser-icon wow zoomIn" data-wow-offset="230">
                    <span href="https://www.linkedin.com/in/revett-eldred-32b9102b" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span>
                </a>
                <p class="step-information-text text-with-icon step-text-pading-right wow zoomIn" data-wow-offset="210">We’ll match you with an advisor that will provide guidance and consulting. Most of our advisors built companies worth $5M+.</p>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-l right-padding align-right">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text head-text-left-block">
                    <span class="number-step display-none medium-device-style wow fadeInDown" data-wow-offset="520">04</span>
                    <span class="head-main-step-text wow slideInLeft" data-wow-offset="450">Goals & strategies</span>
                    <span class="number-step medium-device-display-none step-number-margin-left wow fadeInDown" data-wow-offset="520">04</span>
                </div>
                <p class="step-information-text step-text-pading-left wow zoomIn" data-wow-offset="350">Together we come up with a list of obtainable short-term goals and strategies to achieve them. Roles and responsibilities are defined at this stage.</p>
                <div class="step-animation-block wow zoomIn" data-wow-offset="250"><img src="/Content/img/animation.gif" alt="" /></div>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-r left-padding">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text">
                    <span class="number-step medium-device-style step-number-margin-right wow fadeInDown" data-wow-offset="500">05</span>
                    <span class="head-main-step-text wow slideInRight" data-wow-offset="420">
                        Design
                    </span>
                    <span class="number-step display-none wow fadeInDown" data-wow-offset="400">05</span>
                </div>
                <div class="design-image-block">
                    <img class="design-img-one wow zoomIn" data-wow-offset="350" src="/Content/img/design-img_1.png" alt="" />
                    <img class="design-img-two wow slideInLeft" data-wow-offset="195" src="/Content/img/design-img_2.png" alt="" />
                    <img class="design-img-three wow slideInUp" data-wow-offset="170" src="/Content/img/design-img_3.png" alt="" />
                </div>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-l right-padding align-right">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text head-text-left-block">
                    <span class="number-step display-none medium-device-style wow fadeInDown" data-wow-offset="550">06</span>
                    <span class="head-main-step-text wow slideInLeft" data-wow-offset="480">Development</span>
                    <span class="number-step medium-device-display-none step-number-margin-left wow fadeInDown" data-wow-offset="550">06</span>
                </div>
                <p class="step-information-text step-text-pading-left wow zoomIn" data-wow-offset="400">Your product or service is developed by a team of developers and graphic designers.</p>
                <div class="mvp-image-block wow zoomIn" data-wow-offset="350">
                    <div class="mvp-img wow zoomIn" data-wow-delay="2.7s" data-wow-offset="70"></div>
                    <div class="mvp-img wow zoomIn" data-wow-delay="2.4s" data-wow-offset="10"></div>
                    <div class="mvp-img wow zoomIn" data-wow-delay="3s" data-wow-offset="130"></div>
                    <div class="mvp-img wow zoomIn" data-wow-delay="2.1s" data-wow-offset="70"></div>
                    <div class="mvp-img wow zoomIn" data-wow-delay="1.5s" data-wow-offset="200"></div>
                    <div class="mvp-img wow zoomIn" data-wow-delay="1.8s" data-wow-offset="130"></div>
                    <div class="mvp-img"><img src="/Content/img/mvp-7.png" alt=""></div>
                </div>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
        <div class="step-second-block">
            <div class="step-information-block float-r left-padding">
                <span class="step-blue-indicator"></span>
                <div class="step-head-text">
                    <span class="number-step medium-device-style step-number-margin-right wow fadeInDown" data-wow-offset="400">07</span>
                    <span class="head-main-step-text wow slideInRight" data-wow-offset="330">
                        Build-measure-learn
                    </span>
                    <span class="number-step display-none wow fadeInDown" data-wow-offset="400">07</span>
                </div>
                <p class="step-information-text step-text-pading-right wow zoomIn" data-wow-offset="250">Our team is availble to you throughout iterations and pivots of your startup until a product-market fit is reached.</p>
            </div>
            <div class="bottom-clear-wall"></div>
        </div>
    </div>
</section>