<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="about-us-content">
        <div class="content-header">
          <b>Who we are</b>
        </div>
        <br />
        <span class="content-text">
          StartupSoft Inc. is a Canadian corporation with headquarters in Toronto and offices in Europe. Our mission is to reduce the chance of failure of startups by changing the way they are built. We partner with startups and bring their service or product to life in exchange for equity.
          <br /> <br />
          Our business model depends on one thing – the success of our partners. It's our best interest that your startup succeeds and we do everything in our power to achieve it. We are very selective with whom we work with; to find out if there is a fit content<span class="content-text-aplly" ui-sref="callback"> Apply Here.</span>
        </span>
        <div class="content-header">
          <b>Executive team</b>
        </div>
        <br />
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/revett-eldred-32b9102b" target="_blank" class="about-team-icon revett-icon"><span href="https://www.linkedin.com/in/revett-eldred-32b9102b" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Revett Eldred</span>
          <span class="about-our-team-second-text">Startup Mentor, Angel Investor</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="about-team-icon chief-executive"><span href="https://www.linkedin.com/in/alexvasylyk" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Alex Vasylyk</span>
          <span class="about-our-team-second-text">Chief executive officer</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/benjamin-preston-1a079612/" target="_blank" class="about-team-icon ben-icon"><span href="https://www.linkedin.com/in/benjamin-preston-1a079612/" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Ben Preston</span>
          <span class="about-our-team-second-text">Chief marketing officer</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/elena-stafiichuk-9b0187104/?authType=NAME_SEARCH&authToken=i6PP&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A442353876%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485274743425%2Ctas%3AElena%20" target="_blank" class="about-team-icon elena-icon"><span href="https://www.linkedin.com/in/elena-stafiichuk-9b0187104/?authType=NAME_SEARCH&authToken=i6PP&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A442353876%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485274743425%2Ctas%3AElena%20" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Elena Stafiichuk</span>
          <span class="about-our-team-second-text">Сhief Design Officer</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/sasha-mykhalchuk-ba29a7107/?authType=NAME_SEARCH&authToken=GJIo&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A453344234%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485276677094%2Ctas%3AMykhalch" target="_blank" class="about-team-icon sasha-icon"><span href="https://www.linkedin.com/in/sasha-mykhalchuk-ba29a7107/?authType=NAME_SEARCH&authToken=GJIo&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A453344234%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485276677094%2Ctas%3AMykhalch" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Sasha Mykhalchuk</span>
          <span class="about-our-team-second-text">Chief Technology Officer</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/rostyslav-vasylyk-082890127?authType=name&authToken=265R&trk=prof-sb-browse_map-name" target="_blank" class="about-team-icon rostik-icon"><span href="https://www.linkedin.com/in/rostyslav-vasylyk-082890127?authType=name&authToken=265R&trk=prof-sb-browse_map-name" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Rostyslav Vasylyk</span>
          <span class="about-our-team-second-text">Human Resources</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/vasylyk/" target="_blank" class="about-team-icon andrew-icon"><span href="https://www.linkedin.com/in/vasylyk/" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Andrew Vasylyk</span>
          <span class="about-our-team-second-text">Chief Financial Officer</span>
        </div>
        <div class="about-our-team-collum">
          <a href="https://www.linkedin.com/in/volodymyr-vlasiuk-6406055a/?authType=NAME_SEARCH&authToken=1tNp&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A210521424%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485277034380%2Ctas%3AVolodymyr%20Vla" target="_blank" class="about-team-icon wladimir-icon"><span href="https://www.linkedin.com/in/volodymyr-vlasiuk-6406055a/?authType=NAME_SEARCH&authToken=1tNp&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A210521424%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1485277034380%2Ctas%3AVolodymyr%20Vla" target="_blank" class="linkedin-image-link"><img src="/Content/img/linkedin.png" alt=""></span></a>
          <span class="about-our-team-head-text">Wladimir Vlasiuk</span>
          <span class="about-our-team-second-text">Chief Mobile Officer</span>
        </div>
      </div>
    </div>
  </div>
</section>